        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left ;
        }
        th {
            background-color: #f2f2f2;
        }
        .site-header {
            background-color: #333;
            padding: 10px;
        }

        h5 {
            text-align: center ;
        }
        .navbar {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        @media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        }
    }